{% load static %}
<div id="site-header-wrap">
    <!-- Top Bar -->
    <div id="top-bar" class="style-2">
        <div id="top-bar-inner" class="container">
            <div class="top-bar-inner-wrap">
                
                <div class="top-bar-socials">
                    <div class="inner">
                        <span class="icons">
                            <a href="{{setting.twitter}}" title="Twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            <a href="{{setting.facebook}}" title="Facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        </span>
                    </div>
                </div><!-- /.top-bar-socials -->

                <div class="top-bar-content">
                    <span id="top-bar-text">
                        <i class="fa fa-phone-square"></i>{{setting.phone}}
                        <i class="fa fa-envelope"></i>{{setting.email}}
                        <i class="fa fa-clock-o"></i>{{setting.graphic}}
                    </span><!-- /#top-bar-text -->
                </div><!-- /.top-bar-content -->
            </div>
        </div>
    </div><!-- /#top-bar -->

    <!-- Header -->
    <header id="site-header" class="header-front-page style-5">
        <div id="site-header-inner" class="container">
            <div class="wrap-inner">          
                <div id="site-logo" class="clearfix">
                    <div id="site-logo-inner">
                        <a href="home-slider-full-screen.html" title="Construction" rel="home" class="main-logo">
                            <img  style="height:100px; width:200px;" src="{{setting.logo.url}}" alt="Construction" data-retina="{{setting.logo.url}}" data-width="200" data-height="30">
                        </a>
                    </div>
                </div><!-- /#site-logo -->

                <div class="mobile-button"><span></span></div><!-- //mobile menu button -->

                <nav id="main-nav" class="main-nav">
                    <ul class="menu">
                        <li class="menu-item  current-menu-item"><a href="{% url 'index' %}">Главная</a>
                        </li>
                        <li class="menu-item"><a href="{% url 'team_index' %}">Команда</a>
                        </li>
                        <li class="menu-item"><a href="{% url 'building_index' %}">Здания</a></li>
                        <li class="menu-item"><a href="{% url 'response' %}">Контакты</a></li>
                    </ul>
                </nav><!-- /#main-nav -->
                    </div>
                </div><!-- /.nav-top-cart-wrapper -->
            </div>
        </div><!-- /#site-header-inner -->
    </header><!-- /#site-header -->
</div><!-- /#site-header-wrap -->