{% extends 'homepage.html' %}
{% load static %}
{% block content %}

<body class="page no-sidebar header-style-1 menu-has-search menu-has-cart">

<div id="wrapper" class="animsition">
<div id="page" class="clearfix">

    {% include 'include/header.html' %}

<!-- Featured Title -->
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Связаться с нами</h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="{% url 'index' %}" title="Construction" rel="home" class="trail-begin">Главная</a>
                        <span class="sep">/</span>
                        <span class="trail-end">Связаться с нами </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div style="margin-top:55px ;"  class="row">
                                <div class="col-md-4">
                                    <div class="wprt-information">
                                        <h4 class="margin-bottom-15">Связаться с нами</h4>
                                        <p>Можете оставить свои данные и мы с вами свяжемся.</p>
                                        <ul class="style-2">
                                            <li class="address">
                                                <span class="hl">Адрес:</span>
                                                <span class="text">{{setting.address}}</span>
                                            </li>
                                            <li class="phone">
                                                <span class="hl">Номер телефона:</span> 
                                                <span class="text">{{setting.phone}}</span>
                                            </li>
                                            <li class="email">
                                                <span class="hl">E-mail:</span>
                                                <span class="text">{{setting.email}}</span>
                                            </li>
                                        </ul>
                                    </div><!-- /.wprt-information -->

                                    <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                </div><!-- /.col-md-4 -->

			                    <div class="col-md-8">
			                    	<h4 class="margin-bottom-15">Свяжись с нами</h4>
									<form method="POST" class="contact-form wpcf7-form">

                                        {% csrf_token %}
										<div class="wprt-contact-form-1">
											<span class="wpcf7-form-control-wrap name">
												<input type="text" tabindex="1" id="name" name="name" value="" class="wpcf7-form-control" placeholder="Имя *" required>
											</span>
											<span class="wpcf7-form-control-wrap email">
												<input type="email" tabindex="2" id="email" name="email" value="" class="wpcf7-form-control" placeholder="E-mail *" required>
											</span>
											<span class="wpcf7-form-control-wrap phone">
												<input type="text" tabindex="3" id="phone" name="phone" value="" class="wpcf7-form-control" placeholder="Номер телефона">
											</span>
											<span class="wpcf7-form-control-wrap subject">
												<input type="text" tabindex="4" id="subject" name="subject" value="" class="wpcf7-form-control" placeholder="Тема  *" required>
											</span>
											<span class="wpcf7-form-control-wrap message">
												<textarea name="message" tabindex="5" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Сообщение" required></textarea>
											</span>
											<div class="wrap-submit">
												<button class="submit wpcf7-form-control wpcf7-submit">Отправить</button>
											</div>
										</div>
									</form>
			                    </div><!-- /.col-md-8 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer id="footer">
    <div id="footer-widgets" class="container style-1">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget_text">
                    <h2 class="widget-title"><span>О НАС</span></h2>
                    <div class="textwidget">
                        <img src="{% static 'assets/img/logo-light@2x.png'%}" width="200" height="30" alt="image" class="margin-top-5 margin-bottom-25" />
                        <p>Строительство — это не просто работа. В Строительной Компании это наша страсть. В каждом проекте, за который мы беремся, мы устанавливаем высокую планку и привлекаем лучших специалистов в отрасли, с искренней любовью к тому, что мы делаем, чтобы воплотить в жизнь видение наших клиентов.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget widget_links">
                    <h2 class="widget-title"><span>ССЫЛКИ КОМПАНИИ</span></h2>
                    <ul class="wprt-links clearfix col2">
                        <li class="style-2"><a href="#">История</a></li>
                        <li class="style-2"><a href="#">Услуги</a></li>
                        <li class="style-2"><a href="#">Команда и награды</a></li>
                        <li class="style-2"><a href="#">Способы доставки</a></li>
                        <li class="style-2"><a href="#">Сообщество</a></li>
                        <li class="style-2"><a href="#">Безопасность</a></li>
                        <li class="style-2"><a href="#">Новости и события</a></li>
                        <li class="style-2"><a href="#">Устойчивость</a></li>
                        <li class="style-2"><a href="#">Часто задаваемые вопросы</a></li>
                        <li class="style-2"><a href="#">Портфолио</a></li>
                        <li class="style-2"><a href="#">Свяжитесь с нами</a></li>
                        <li class="style-2"><a href="#">Магазин</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget widget_information">
                    <h2 class="widget-title"><span>КОНТАКТНАЯ ИНФОРМАЦИЯ</span></h2>
                    <ul class="style-2">
                        <li class="address clearfix">
                            <span class="hl">Address:</span>
                            <span class="text">1379 Shoreline Parkway, Маунтин-Вью, Калифорния 94043, США</span>
                        </li>
                        <li class="phone clearfix">
                            <span class="hl">Телефон:</span> 
                            <span class="text">+1 718-999-3939</span>
                        </li>
                        <li class="email clearfix">
                            <span class="hl">Эл. адрес:</span>
                            <span class="text">contact@Строительство.com</span>
                        </li>
                    </ul>
                </div>

                <div class="widget widget_spacer">
                    <div class="wprt-spacer clearfix" data-desktop="10" data-mobi="10" data-smobi="10"></div>
                </div>

                <div class="widget widget_socials">
                    <div class="socials">
                        <a target="_blank" href="{{setting.twitter}}"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="{{setting.facebook}}"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bottom -->
<div id="bottom" class="clearfix style-1">
    <div id="bottom-bar-inner" class="wprt-container">
        <div class="bottom-bar-inner-wrap">
        
            <div class="bottom-bar-content">
                <div id="copyright">Строительство TEMPLATE &copy; DESIGN BY BLOGWP.
                </div><!-- /#copyright -->
            </div><!-- /.bottom-bar-content -->

            <div class="bottom-bar-menu">
                <ul class="bottom-nav">
                    <li><a href="#/">ИСТОРИЯ</a></li>
                    <li><a href="#/">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</a></li>
                    <li><a href="#/">СОБЫТИЯ</a></li>
                </ul>       
            </div><!-- /.bottom-bar-menu -->
        </div>
    </div>
</div>
</div><!-- /#page -->
</div><!-- /#wrapper -->

<a id="scroll-top"></a>
{% endblock %}